@model TatilSeyahatBlog.Models.Entity.About
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-3">
    <h3>Hakkımızda Güncelleme Sayfası</h3>
</div>

@using (Html.BeginForm("Index", "AdminAbout", FormMethod.Post))
{
    <div class="mt-3">
        <label>Görsel:</label>
        @Html.TextBoxFor(x => x.Image, new { @class = "form-control", @required = "required" })
    </div>
    <div class="mt-3">
        <label>İçerik:</label>
        @Html.TextAreaFor(x => x.Content, new { @class = "form-control", @required = "required",@style="height:200px;" })
    </div>
    <div class="mt-3">
        <button class="btn btn-success">Hakkımızda Güncelle</button>
    </div>
}